*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/peter-broomfield-m3m-lnR90uM-unsplash 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* HEADER */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 15%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-box img {
  width: 45px;
}

.logo-box h2 {
  color: #fff;
  display: inline-block;
  font-size: 2.5rem;
  margin-left: 0.5rem;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 1em;
}

nav li:first-child {
  font-weight: 700;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

/* MAIN */
main {
  display: inline-block;
  position: absolute;
  left: 15%;
  top: 35%;
}

main h1 {
  color: #00c2ff;
  font-size: 3rem;
}

main h3 {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0.5rem 0 1.8rem;
}

/* FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 15%;
  background-color: #000;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer h4 {
  color: #00c2ff;
}

footer p {
  color: #fff;
}

footer div {
  margin: 0.5rem;
}

/* BUTTONS */
button {
  font-size: 1.2rem;
  color: #fff;
  background-color: #00c2ff;
  border: none;
  padding: 0.6rem 0.9rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

button:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  background-color: #00a7db;
}
