$blue: #00c2ff;
$white: #fff;
$black: #000;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/peter-broomfield-m3m-lnR90uM-unsplash 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding: 2em 15%;
  width: 100%;
  flex-wrap: wrap;
}

.logo-box {
  img {
    width: 45px;
  }

  h2 {
    color: $white;
    display: inline-block;

    font-size: 2.5rem;
    margin-left: 0.5rem;
  }
}

nav {
  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 1em;

    &:first-child {
      font-weight: 700;
    }
  }

  a {
    text-decoration: none;
    color: $white;
    font-size: 1.1rem;
  }
}

/* MAIN */

main {
  display: inline-block;
  position: absolute;
  left: 15%;
  top: 35%;

  h1 {
    color: $blue;
    font-size: 3rem;
  }

  h3 {
    color: $white;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0.5rem 0 1.8rem;
  }
}

/* FOOTER */

footer {
  display: flex;
  position: absolute;
  bottom: 0vh;
  justify-content: space-between;
  padding: 0.5rem 15%;
  background-color: $black;
  width: 100%;
  flex-wrap: wrap;

  h4 {
    color: $blue;
  }

  p {
    color: $white;
  }

  div {
    margin: 0.5rem;
  }
}

/* BUTTONS */

button {
  font-size: 1.2rem;
  color: $white;
  background-color: $blue;
  border: none;
  padding: 0.6rem 0.9rem;

  transition: all 0.1s ease-in-out;

  &:hover {
    transform: translateY(-4px);
  }

  &:active {
    transform: translateY(-1px);
    background-color: darken($blue, 7%);
  }
}
